body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#posts-list .single-post {
    margin-bottom: 30px;
}

#posts-list img {
    height: 300px;
    width: 300px;
}

#posts-list figcaption {
    font-size: 1.4em;
}

#load-posts {
    font-size: 2em;
    width: 100%;
    background-color: darkcyan;
    color: #fff;
    text-transform: uppercase;
    padding: 30px;
    cursor: pointer;
    transition: all .3s;
    border: 2px solid darkcyan;
}

#load-posts:hover {
    background-color: #fff;
    color: darkcyan;
}
